body{
      font-family: arial, sans-serif;
      font-size: 1.313em;
      background-color: black;
      color: white;
      position: relative;
    background-image: url("https://s-media-cache-ak0.pinimg.com/originals/c0/cf/d8/c0cfd8dc1a0938c12b082d03ae5fd268.jpg");
top right no-repeat;
background-attachment:fixed;
}
#heading{
    margin: 120px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgba(43, 52, 66, 0.7);
    border: 1px solid black;

    filter: alpha(opacity=60); /* For IE8 and earlier */

}
header{
    background: url("https://www.muralswallpaper.co.uk/app/uploads/purple-and-pink-dark-floral-plain-820x532.jpg");
    top:0;

}
.affix {
    top:0;
    width: 100%;
    z-index: 9999 !important;
}
.navbar {
    margin-bottom: 0px;
}

.navbar-nav {
     margin: 0px 0px;
}

.affix ~ .container-fluid {
   position: relative;
   top: 50px;
}

#post{
    background-color: rgba(118, 87, 99, 0.54);

    margin-top: 10px;
    margin-bottom: 10px;
}
#deletePost{
    margin: 15px;
}
#deletePost:hover{
    background: rgba(155, 88, 90,0.8);
    border-radius: 50%;
    padding-bottom: 0px;
    padding-left: 4px;
    padding-right: 4px;
    text-align: center;
}
#postHeader{
    margin-left: 15px;
}
#postContent{
    margin-left: 15px;
}
